<!DOCTYPE html>
<html lang="en">
{% with request.resolver_match.url_name as url_name %}
    <head>
        <meta charset="UTF-8">
        <title>
            {% if url_name == 'home' %}
                Lipid Project
            {% elif url_name == 'labs' %}
                Labs
            {% elif url_name == 'users' %}
                All Users
            {% endif %}
            {% block title %}{% endblock title %}
        </title>

        {% load staticfiles %}
        <!--bootstrap3-->
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="http://fonts.googleapis.com/icon?family=Satisfy" rel="stylesheet" type="text/css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--bootstrap3-->

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css"/>

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.js"></script>

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <link rel="stylesheet" href="{% static 'printer/print_style.css' %}">

        <!--html2pdf-->
        <script src="{% static 'html2pdf/vendor/jspdf.min.js' %}"></script>
        <script src="{% static 'html2pdf/vendor/html2canvas.min.js' %}"></script>
        <script src="{% static 'html2pdf/src/html2pdf.js' %}"></script>



        {% block extra_head %}{% endblock %}

        <!-- jQuery is required -->
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->

        <!-- UIkit JS -->
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.24/js/uikit.min.js"></script-->
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.24/js/uikit-icons.min.js"></script-->
        <link rel="stylesheet" href="{% static 'searchbar/searchbar.css' %}"/>


    </head>
    <body>
    <nav class="navbar
    {% if request.user.groups.all.0|stringformat:"s" == "user" %} navbar-inverse{% else %} navbar-inverse{% endif %} navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- url 'music:index' -->
                <a class="navbar-brand" href="{% url 'mainapp:home' %}">Lipid Project</a>
            </div>
            <!--Items-->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data
                            <span class="caret"></span></a>

                    </li>
                    {% if request.user.groups.all.0|stringformat:"s" == "admin" %}

                        <li class="dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Parameters
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">All Paremeters</a></li>
                                <li><a href="{% url 'mainapp:parameter-add' %}">Add New Parameter</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'mainapp:users' %}">All Users</a></li>
                                <li><a href="{% url 'mainapp:user-add' %}">Add New User</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Labs
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'mainapp:labs' %}">All Labs</a></li>
                                <li><a href="{% url 'mainapp:lab-add' %}">Add New Lab</a></li>

                            </ul>
                        </li>
                    {% endif %}
                <!--li>
                        <a href="" onclick="window.print()">
                            &nbsp;Print

                        </a>
                    </li-->


                </ul>
                 {% if request.user.groups.all.0|stringformat:"s" == "admin" %}
                <!--********* include search template here-->
            {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            &nbsp;Hello, {{ request.user }}!

                        </a>
                    </li>

                    <li>
                        <a href="{% url 'logout_next' %}?next={{ request.path|urlencode }} ">
                            <span class="glyphicon glyphicon-off" area-hidden="false"></span>&nbsp;Logout

                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock body %}

    </body>
{% endwith %}
</html>