{% extends 'mainApp/base.html' %}

{% block title %}
    {% if url_name == 'parameter-update' %}
        Updating {{ object }}
    {% elif url_name == 'parameter-add' %}
        Adding New Test Parameter
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% if url_name == 'parameter-update' %}
            <h3><b>Updating {{ object }}</b></h3>
    {% elif url_name == 'parameter-add' %}
            <h3><b>Adding New Test Parameter</b></h3>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'mainApp/form-template.html' %}
                        <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>

                            </div>

                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>
    </div>
{% endblock %}
