<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <br/>

    {% if request.get_full_path == '/login/?next=/data/add/qc/' or request.get_full_path == '/login/?next=/data/add/regular/' or request.get_full_path == '/login/?next=/' %}
    {% else %}
        <div class="alert alert-danger">
            <strong>Attention!</strong> Only admin has access to this page.
        </div>
    {% endif %}




    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Login</h1>
        </div>
        <div class="panel-body">
            <form method="post">

                {% csrf_token %}
                {% for field in form %}
                    {% if field.html_name == 'username' %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>

                                <input id="id_username" type="text" class="form-control" name="username" autofocus
                                       required id="id_username" maxlength="254"
                                       placeholder="User Name"/>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.html_name == 'password' %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>
                                <input id="id_password" type="password" class="form-control" name="password"
                                       placeholder="Password" required/>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                <button id="btnLogin" type="submit" class="btn btn-default" style="width: 100%">
                    Login<i class="glyphicon glyphicon-log-in"></i>
                </button>

            </form>
        </div>


    </div>
</div>
</body>
</html>